body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  margin: 0; /* Remove margin to perfectly center */
}


.w3-container {
  text-align: center; /* Center text and button inside the container */
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #008500;
  color: #fff;
  transition: background-color 0.3s;
  width: 220px; /* Set a fixed width */
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

h1, h3, p{
  text-align: center;
}


